//COLORS


$my-green:#08CB7B;

$my-lightgreen:#94CB53;

$my-white:#EBEBEB;

$my-blue:#30405F;

$my-darkblue:#1B222E;

$my-orange:#FF9933;

//FONTS
  $primary-font:'Orbitron', sans-serif;


  $secondary-font:'Barlow', sans-serif;

/*font-family: 'Barlow', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;*/